In [1]:
#load and explore data

In [2]:
import pandas as pd
import numpy as np

In [3]:
obs = pd.read_csv('observations.csv')
spec = pd.read_csv('species_info.csv')

In [9]:
obs.sort_values(by = 'observations', ascending = True).head(40)

,scientific_name,park_name,observations
9418,Corydalis aurea,Bryce National Park,9
15511,Collomia tinctoria,Great Smoky Mountains National Park,10
16054,Strix occidentalis,Great Smoky Mountains National Park,11
18823,Rana sierrae,Great Smoky Mountains National Park,11
20375,Sambucus mexicana,Great Smoky Mountains National Park,12
15906,Canis rufus,Great Smoky Mountains National Park,13
9753,Grus americana,Great Smoky Mountains National Park,13
15455,Seiurus aurocapilla,Great Smoky Mountains National Park,13
8736,Myotis sodalis,Great Smoky Mountains National Park,14
2813,Malva moschata,Great Smoky Mountains National Park,14
17756,Canis lupus,Great Smoky Mountains National Park,14
10190,Canis lupus,Great Smoky Mountains National Park,15
15585,Gymnogyps californianus,Great Smoky Mountains National Park,15
17732,Picoides borealis,Great Smoky Mountains National Park,15
10661,Rorippa palustris,Great Smoky Mountains National Park,15
9963,Mimulus alatus,Great Smoky Mountains National Park,17
10930,Floerkea proserpinacoides,Great Smoky Mountains National Park,17
21158,Vulpia octoflora,Great Smoky Mountains National Park,17
14685,Thalictrum clavatum,Great Smoky Mountains National Park,18
17068,Erimonax monachus,Great Smoky Mountains National Park,18
18558,Vermivora bachmanii,Great Smoky Mountains National Park,18
11936,Sceloporus undulatus hyacinthinus,Great Smoky Mountains National Park,18
15339,Coturnicops noveboracensis,Great Smoky Mountains National Park,18
6617,Arisaema triphyllum ssp. triphyllum,Great Smoky Mountains National Park,19
15893,Racomitrium aciculare,Great Smoky Mountains National Park,19
3888,Arenaria serpyllifolia,Bryce National Park,19
19957,Stellaria longipes var. longipes,Great Smoky Mountains National Park,19
8385,Brasenia schreberi,Great Smoky Mountains National Park,19
6458,Vermivora bachmanii,Bryce National Park,20
2369,Triteleia hyacinthina,Great Smoky Mountains National Park,20
10667,Myosurus apetalus var. borealis,Great Smoky Mountains National Park,21
14329,Amaranthus retroflexus,Great Smoky Mountains National Park,21
8571,Glaucomys sabrinus coloratus,Great Smoky Mountains National Park,21
6910,Piranga olivacea,Great Smoky Mountains National Park,22
18177,Etheostoma simoterum,Great Smoky Mountains National Park,22
16883,Ovis canadensis sierrae,Bryce National Park,22
6840,Noturus baileyi,Bryce National Park,22
9942,Buddleja davidii,Great Smoky Mountains National Park,23
21466,Botrychium lanceolatum var. angustisegmentum,Great Smoky Mountains National Park,23
22477,Rhamnus alnifolia,Great Smoky Mountains National Park,23

In [23]:
obs.groupby('scientific_name').agg({'observations':'sum'})

                                     observations
scientific_name
Abies bifolia                                 532
Abies concolor                                630
Abies fraseri                                 518
Abietinella abietina                          592
Abronia ammophila                             523
...                                           ...
Zonotrichia leucophrys gambelii               560
Zonotrichia leucophrys oriantha               558
Zonotrichia querula                           616
Zygodon viridissimus                          600
Zygodon viridissimus var. rupestris           651

[5541 rows x 1 columns]

In [16]:
spec

,category,scientific_name,common_names,conservation_status
0,Mammal,Clethrionomys gapperi gapperi,Gapper's Red-Backed Vole,NaN
1,Mammal,Bos bison,"American Bison, Bison",NaN
2,Mammal,Bos taurus,"Aurochs, Aurochs, Domestic Cattle (Feral), Dom...",NaN
3,Mammal,Ovis aries,"Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)",NaN
4,Mammal,Cervus elaphus,Wapiti Or Elk,NaN
...,...,...,...,...
5819,Vascular Plant,Solanum parishii,Parish's Nightshade,NaN
5820,Vascular Plant,Solanum xanti,"Chaparral Nightshade, Purple Nightshade",NaN
5821,Vascular Plant,Parthenocissus vitacea,"Thicket Creeper, Virginia Creeper, Woodbine",NaN
5822,Vascular Plant,Vitis californica,"California Grape, California Wild Grape",NaN
5823,Vascular Plant,Tribulus terrestris,"Bullhead, Caltrop, Goathead, Mexican Sandbur, ...",NaN

In [21]:
mer = obs.merge(spec, how = 'inner', on = 'scientific_name')

In [33]:
mer.groupby(['conservation_status','park_name']).agg({'observations':'count'})

                                                         observations
conservation_status park_name
Endangered          Bryce National Park                            20
                    Great Smoky Mountains National Park            20
                    Yellowstone National Park                      20
                    Yosemite National Park                         20
In Recovery         Bryce National Park                             6
                    Great Smoky Mountains National Park             6
                    Yellowstone National Park                       6
                    Yosemite National Park                          6
Species of Concern  Bryce National Park                           183
                    Great Smoky Mountains National Park           183
                    Yellowstone National Park                     183
                    Yosemite National Park                        183
Threatened          Bryce National Park                            11
                    Great Smoky Mountains National Park            11
                    Yellowstone National Park                      11
                    Yosemite National Park                         11
none                Bryce National Park                          6188
                    Great Smoky Mountains National Park          6188
                    Yellowstone National Park                    6188
                    Yosemite National Park                       6188

In [29]:
mer.conservation_status = mer.conservation_status.apply(lambda x: str(x))

In [31]:
mer.loc[mer.conservation_status == 'nan', 'conservation_status'] = 'none'

In [32]:
mer

,scientific_name,park_name,observations,category,common_names,conservation_status
0,Vicia benghalensis,Great Smoky Mountains National Park,68,Vascular Plant,"Purple Vetch, Reddish Tufted Vetch",none
1,Vicia benghalensis,Yosemite National Park,148,Vascular Plant,"Purple Vetch, Reddish Tufted Vetch",none
2,Vicia benghalensis,Yellowstone National Park,247,Vascular Plant,"Purple Vetch, Reddish Tufted Vetch",none
3,Vicia benghalensis,Bryce National Park,104,Vascular Plant,"Purple Vetch, Reddish Tufted Vetch",none
4,Neovison vison,Great Smoky Mountains National Park,77,Mammal,American Mink,none
...,...,...,...,...,...,...
25627,Gulo gulo,Yosemite National Park,157,Mammal,Wolverine,none
25628,Dichanthelium depauperatum,Great Smoky Mountains National Park,88,Vascular Plant,"Green Panic-Grass, Panic Grass",none
25629,Dichanthelium depauperatum,Bryce National Park,80,Vascular Plant,"Green Panic-Grass, Panic Grass",none
25630,Dichanthelium depauperatum,Yellowstone National Park,255,Vascular Plant,"Green Panic-Grass, Panic Grass",none
25631,Dichanthelium depauperatum,Yosemite National Park,162,Vascular Plant,"Green Panic-Grass, Panic Grass",none